[Unit]
Description=Update the lustre-cluster scripts from their repository
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/lustre-clusterhat/update.sh auto
